.app-container {
  display: flex;
}
.content {
  width: 100%;
}
.post-card {
  margin: 20px 52px;
}
.hasTag {
  min-width: auto;
  margin: 0 3px;
}
.sidebar {
  width: 190px;
  min-height: 800px;
}
.reaction {
  margin: 15px 0 0 0;
}
.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
.deletedIcon {
  cursor: pointer;
}
